* {
    box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #111;
  font-family: 'Bubbler One', sans-serif;
  text-align: left;
}

p, figcaption {
  font-family: 'Lato', sans-serif;
}

figure {
  margin: 0 0 0 0;
}

h1 {
  font-size: 4vmax;
  font-weight: 700;
  /*line-height: 64px;*/
  margin: 0 0 0;
  padding: 20px 0px 30px;
  text-align: left; }


h2 {
  font-size: 5vmax;
  font-weight: 700;
  /*line-height: 48px;*/
  margin: 0 0 24px;
  padding: 0 30px; }


p { color: #111;
  font-size: 2.5vmax;
  /*line-height: 28px;*/
  margin: 0 0 0; }


a { color: #990000; text-decoration: none; }


a:hover { text-decoration: underline }


.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.subtitle {
  font-size: 2vmax;
  vertical-align: bottom;
  padding-left: 0px;
  text-align: center;
}

.main-title {
  margin-top: 0;
  padding: 0px 0px 0px 0px;
  text-align: center;
}

.hero-section {
  text-align: center;
}

.hero {
  max-height: 100%;
  max-width: 100%;
  /*position: relative;*/
}

.logo-img {
  height: 8vmax;
  width: 8vmax;
}

.hero-caption {
  text-align: center;
  font-size: 1.5vmax;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -140%);
  color: white;
}

.title {
  padding-right: 17vw;
}

/* Screen specific design.
1. Mobile phones (also the default design): */
[class*="col-"] {
    width: 100%;
}



@media only screen and (max-width: 599px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

/* 2. Tablets: */
@media only screen and (min-width: 600px) {
    .col-t-1 {width: 8.33%;}
    .col-t-2 {width: 16.66%;}
    .col-t-3 {width: 25%;}
    .col-t-4 {width: 33.33%;}
    .col-t-5 {width: 41.66%;}
    .col-t-6 {width: 50%;}
    .col-t-7 {width: 58.33%;}
    .col-t-8 {width: 66.66%;}
    .col-t-9 {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}
}

/* 3. Desktops. we can add something for 1024px and up, but for now, this
    will do */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}